:root {
    --main-radius: 5px;
    --main-padding: 5px;
}
@font-face {
    font-family: FiraCodeBold;
    src: url("../fonts/Fira Code Bold Nerd Font Complete Mono.ttf");
}


* {
    box-sizing: border-box;
}

main {
    padding: 3rem;
    display: block;
    grid-area: main;
}
main, main:only-child {
    box-sizing: border-box;
}
main h1 {
    font-family: FiraCodeBold;
}
article h1,h2, h3, h4 {
    font-family: FiraCodeBold;
}

form.signup{
    padding: 10px;
    margin: 10px;
}

div.email input.email{
    padding: 10px;
    width: 300px;
}

div.email{
    margin: 10px;
}
label.email {
    padding: 10px;
}

@media (max-width: 600px){
    body{
        font-size: 1.8em;
    }
}
