* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: antiquewhite;
}

.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100%;
    margin: auto;
    width: 100%;
}

.content-container {
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    justify-content: center;
}

.container, .content-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

main, main:only-child {
    -webkit-box-flex: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    flex: 0 0 100%;
    max-width: 100%;
}

main {
    display: block;
}

@media (max-width: 600px){
    body {
        font-size: 1.8em;
    }
}

@media (max-width: 768){
    body {
        font-size: 1.3em;
    }
}